<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>Event Calendar</name>
    <description>Event Calendar Module</description>
    <uri_segment>eventcalendar</uri_segment>
    <has_admin>true</has_admin>
    <access_group>editors</access_group>
    <database>
        
        <!-- Event Calendar Table -->
        <table name="module_eventcalendar" if_not_exists="true" engine="InnoDB" default_charset="utf8" collate="utf8_unicode_ci" auto_increment="1">
            <primary_key>id_event</primary_key>
            <column name="id_event" type="int" length="11" attributes="UNSIGNED" zerofill="NOT NULL" auto_increment="true" ></column>
            <column name="name" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="start_date" type="datetime" zerofill="NOT NULL"></column>
            <column name="end_date" type="datetime" default="0000-00-00 00-00-00" zerofill="NOT NULL"></column>
            <column name="author" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="updater" type="varchar" length="255"></column>
            <column name="created" type="datetime" zerofill="NOT NULL"></column>
            <column name="updated" type="datetime"></column>
            <column name="id_category" type="int" length="11" attributes="UNSIGNED"></column>
            <column name="id_article" type="int" length="11" attributes="UNSIGNED"></column>
            
        </table>
        
        <!-- Event Calendar Lang Table -->
        <table name="module_eventcalendar_lang" if_not_exists="true" engine="InnoDB" default_charset="utf8" collate="utf8_unicode_ci" auto_increment="0">
            <primary_key>id_event,lang</primary_key>
            <column name="id_event" type="int" length="11" attributes="UNSIGNED" zerofill="NOT NULL" ></column>
            <column name="url" type="varchar" length="255"></column>
            <column name="lang" type="char" length="3" zerofill="NOT NULL"></column>
            <column name="title" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="subtitle" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="description" type="text" zerofill="NOT NULL"></column>
        </table>
        
        <!-- Event Calendar Category Table -->
        <table name="module_eventcalendar_category" if_not_exists="true" engine="InnoDB" default_charset="utf8" collate="utf8_unicode_ci" auto_increment="0">
            <primary_key>id_category</primary_key>
            <column name="id_category" type="int" length="11" attributes="UNSIGNED" zerofill="NOT NULL" auto_increment="true"></column>
            <column name="name" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="color" type="varchar" length="25" zerofill="NOT NULL"></column>
        </table>
        
        <!-- Event Calendar Category Lang Table -->
        <table name="module_eventcalendar_category_lang" if_not_exists="true" engine="InnoDB" default_charset="utf8" collate="utf8_unicode_ci" auto_increment="0">
            <primary_key>id_category,lang</primary_key>
            <column name="id_category" type="int" length="11" attributes="UNSIGNED" zerofill="NOT NULL" ></column>
            <column name="lang" type="char" length="3" zerofill="NOT NULL"></column>
            <column name="title" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="subtitle" type="varchar" length="255" zerofill="NOT NULL"></column>
            <column name="description" type="text" zerofill="NOT NULL"></column>
        </table>
        
    </database>
</module>